@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root{
    /* font */
    --montserrat-font : 'Montserrat', sans-serif;
    --fraunces-font : 'Fraunces', serif;
    
    /* color schemes */
    --dark-cyan : hsl(158, 36%, 37%);
    --dark-cyan-active : hsl(158, 36%, 27%);
    --cream : hsl(30, 38%, 92%);
    --very-dark-blue : hsl(212, 21%, 14%);
    --dark-greyish-blue : hsl(228, 12%, 48%);
    --white : hsl(0, 0%, 100%);
}

* {
    padding : 0%;
    margin : 0%;
    box-sizing: border-box;
}

body {
    background: var(--cream);
    margin: 1.5em .8em;
}

h1{
    font-family: var(--fraunces-font);
}

p{
    font-family: var(--montserrat-font);
    font-size: 14px;
}

.image {
    background-image: url(./images/image-product-mobile.jpg);
    height: 15rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.description {
    background-color: var(--white);
    padding: 1em 1.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.btm-pad{
    margin-bottom: 0.5em;
}

.img{   
    width: 10%;
    background-repeat: no-repeat;
    background-image: url(./images/icon-cart.svg);
}

.cart-btn {
    cursor: pointer;
    display: flex;
    background-color: var(--dark-cyan);
    color: var(--white);
    padding: 1em;
    justify-content: center;
    border-radius: 0.5em;
    font-weight: 700;
    margin-bottom: 1em;
}

.price{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.perfume{
    text-transform: uppercase;
    color : var(--dark-greyish-blue);
    letter-spacing : 4px;
}

.d_price{
    color : var(--dark-cyan)
}

.o_price{
    text-decoration: line-through;
    color : var(--dark-greyish-blue);
}

.desc{
    color : var(--dark-greyish-blue);
    line-height: 1.6;
}

.cart-btn:hover{
    background-color: var(--dark-cyan-active);
}

@media (min-width : 376px) {
    main{
        display : flex;
        justify-content: center;
        margin: 7em 0;
    }

    .image {
        width: 17%;
        background-image: url(./images/image-product-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 27em;
        border-bottom-left-radius: 0.5em;
        border-top-right-radius: 0;
    }

    .description{
        width: 19%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5em;
    }

    .perfume{
        padding-top: 1em;
    }
}